@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    color: #fff;
}
.collection{
    height: 100vh;
    background-color: #1e232e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection .content{
    height: 28rem;
    width: 25rem;
    background-color: #1b1f2a;
    border: .2rem solid rgba(255,255,255,.1);
    border-radius: .7rem;
    border-bottom: .4rem solid #0099ff;
    border-top: .4rem solid #0099ff;
    overflow: hidden;
    /* padding: .2rem; */
}

.content img{
    width: 100%;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}
.text-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-content h3{
    font-size: 1.7rem;
    font-weight: 500;
}
.text-content p{
    max-width: 22rem;
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
}
.btn{
    background-color: #0099ff;
    padding: .2rem;
    border: 2px solid #0099ff;
    outline: none;
    font-size: .8rem;
    border-radius: .5rem;
    margin: 1rem 0;
    cursor: pointer;
}